<!--<div th:switch="${availableLyrics}">-->
<!--    <h2 th:case="null">No Lyrics yet!</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>Songs wirh Lyrics Available</h2>-->
<!--        <p th:each="song : ${availableLyrics}">-->
<!--            <a href="/api/lyrics" th:text="${song.artist.name} ${song.title}"></a>-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<div th:switch="${availableLyrics}">
    <h2 th:case="null">No Lyrics yet!</h2>
    <div th:case="*">
        <h2>Songs with Available Lyrics</h2>
        <table>
            <thead>
            <tr>
                <th>Titel</th>
                <th>Artist</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${availableLyrics}">
                <td th:text="${song.title}"></td>
                <td th:text="${song.artist.name}"></td>
                <td><a th:href="@{/api/lyrics/{id}(id=${song.id})}">Show Lyrics</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
